* {
    box-sizing: border-box;
}

body {
    background: #333;
    font-size: 18px;
    line-height: 2em;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: auto;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 44vh;
    grid-gap: 1em;
    padding: 1vh;
}

header {
    padding: 0.5 1em 0;
    background: #47f;
}

footer {
    width: 100%;
    padding: 0.5 1em;
    text-align: center;
    bottom: 0;
    color: #eee;
    border-top: 2px solid #ccc;
}

.dice_box__row {
    padding: 0.25em 0;
}

.dice_box__row:not(:first-child) {
    border-top: 2px solid #ddd;

}

input {
    padding: 0.25em 0.5em;
    border: 1px solid #2760ff;
    border-radius: 4px;
    font-size: 1em;
    width: 200px;
}

.button {
    background: #47f;
    border: 1px solid #2760ff;
    border-radius: 4px;
    font-size: 1em;
    padding: 0.25em 0.5em;
    color: white;
    min-width: 50px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background: #eee;
    color: #2760ff;
}

.box {
    background: #eee;
    padding: 1em;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
}

h1,
h2,
h3 {
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
p:not(:first-child) {
    margin: 0.5em 0 0;
}

pre:not(:first-child) {
    margin: 0.25em 0 0;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1em;
    margin: 0;
}

#messages {
    max-height: 70vh;
    min-height: 30vh;
    padding: 5px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ddd;
}

.message {
    display: block;
    color: #555;
}

.message__result {
    display: inline-block;
    font-weight: bold;
    color: #111;
}

.message__line_number {
    color: #a66;
    min-width: 36px;
    display: inline-block;
}

.graph_results {
    grid-row: span 2;
    height: 100%;
}

#graph_box {
    padding: 1em;
    height: 100%;
    overflow-y: scroll;
}

.graph_container {
    background: #ddd;
    padding: 0.2em;
    margin-bottom: 1em;
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: min-content min-content min-content auto;
}

.graph__heading {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
}

.graph__bar {
    background: #47f;
    height: 10px;
    display: inline-block;
}

.graph__bar__number {
    text-align: right;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
}